/* Header & Navbar */

/* body {
  margin: 0;
  background-color: #292929;
  overflow: hidden;
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /* background-color: rgba(0, 0, 0); */
    background-color: #292929;
    /* background-color: transparent; */
    /* opacity: 0; */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    z-index: 999;
}

nav {
  position: absolute;
  top: 50%;
  /* top: 0; */
  right: 0;
  left: 0;
  width: 319px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}

nav a {
  position: relative;
  width: 20%;
  display: table-cell;
  text-align: center;
  /* color: #949494; */
  color: white;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: yellow;
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: #00e2ff;
}

nav a:nth-child(2):after {
  background-color: #89ff00;
}

nav a:nth-child(3):before {
  background-color: purple;
}

nav a:nth-child(3):after {
  background-color: palevioletred;
}

nav a:nth-child(4):before {
  background-color: orange;
}

nav a:nth-child(4):after {
  background-color: cyan;
}

nav a:nth-child(5):before {
  background-color: teal;
}

nav a:nth-child(5):after {
  background-color: pink;
}

#indicator {
  position: absolute;
  left: 5%;
  bottom: 0px;
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: #fff;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  /* left: 5%; */
  background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 21%;
  background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 42%;
  background: linear-gradient(130deg, purple, palevioletred);
}

nav a:nth-child(4):hover ~ #indicator {
  left: 66%;
  background: linear-gradient(130deg, orange, cyan);
}

nav a:nth-child(5):hover ~ #indicator {
  left: 87.5%;
  background: linear-gradient(130deg, teal, pink);
}


/* nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #00ffff;
} */

/* .spacer { */
    /* height: 60px; */
/* } */