.section6 {
    padding: 80px 20px;
    background-color: #f4f4f4;
    color: #1a1a1a;
    text-align: center;
    height: 100vh;
    background-image: url('../images/sections/section-achievements-darya-karaliova-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.section6-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: white;
}
  
.section6-content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.8;
}